
<h3> Play</h3>

<h3><%= @deck[:title] %></h3>

<% card_to_display = @cards.shuffle.pop %>
<p><%=card_to_display[:question]%></p>

<h3>What's your guess?</h3>
  <form method="post" action="/play" role="form">
  <div class="form-group">
    <label for="exampleInputUserGuess1">Your guess:</label>
    <input id="userinputfield" type="text" class="form-control form-inline" id="exampleInputUserGuess1" name="user_guess" placeholder="Enter Your Final Answer">
  </div>
  <input type="hidden" name="deck_id" value="<%= @deck.id %>">
  <input type="hidden" name="card_id" value="<%= card_to_display.id %>">
  <input type="hidden" name="round_id" value="<%= @round.id %>">
  <button id="UserGuessInputSubmit" type="submit" class="btn btn-default" >Confirm!</button>
  </form>
<hr>
<a href="/results" class="btn btn-warning btn-sm" role="button">Quit Playing</a>